.login-popup {
    position: fixed;
    /* Use fixed for better positioning */
    top: 0;
    left: 0;
    z-index: 1000;
    /* Higher value to ensure it's on top */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    /* Semi-transparent black */
    display: flex;
    /* Flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.login-popup-container {
    width: max(23vw, 330px);
    color: tomato;
    background-color:white;
    display: flex;
    flex-direction: column;
    /* Column layout for form elements */
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0px 4px 12px tomato;
    /* Add shadow for better visibility */
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-popup-title img {
    cursor: pointer;
    /* Change cursor to pointer for close icon */
}

.login-popup-inputs input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-popup-inputs input:focus {
    outline: none;
    border-color: tomato;
}

button {
    padding: 10px;
    background-color: #808080;
    color: rgb(71, 255, 191);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: tomato;
}

.login-popup-condition {
    display: flex;
    align-items: center;
}

.login-popup-condition input {
    margin-right: 10px;
    display: flex;
    align-items: 8px;
    margin-top: -15px;
}

.login-popup-condition p {
    margin: 0;
    color: tomato;
     cursor: pointer;
    font-weight: 500;
}

.login-popup-condition p span {
    color: tomato;
    cursor: pointer;
    font-weight: 500;
}

.login-popup-condition p span:hover {
    text-decoration: underline;
}